PORT=3000

# Database
DB_HOST=your-rds-endpoint
DB_PORT=5432
DB_NAME=ekscorp
DB_USER=ekscorp_admin
DB_PASSWORD=your-password

# JWT
JWT_SECRET=your-jwt-secret

# AWS
AWS_REGION=eu-central-1
S3_BUCKET_NAME=your-bucket-name